* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #ffffff;
    --dark-blue: #0a0a23;
    --dark-grey: #3b3b4f;
    --black: #000000;
    --light-yellow: #f6f60a;
    --light-pink: #FA8072;
}
  
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--dark-blue);
    color: var(--white);
}

.header{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.FreeCodeCamp-logo{
    width: 20%;
    margin: 10px;
}

h1{
    font-size: 2rem;
    color: var(--white);
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.input-container{
    width: min(100vw, 500px);
    min-height: 250px;
    margin: 15px 0;
    background-color: var(--dark-grey);
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 50px 0;
    border: 3px solid var(--white);
}

label{
    font-size: 1.5rem;
    padding-bottom: 15px;
}

.number{
    border: none;
    text-align: center;
    height: 50px;
    width: 400px;
    font-size: 1.5rem;
    margin: 20px;
    border-radius: 5px;
    background-color: var(--black);
    border: 2px solid var(--white);
    color: var(--white);
    padding: 0.3rem;
}

.convert-btn{
    background-color: var(--light-yellow);
    color: var(--black);
    padding: 10px;
    width: 400px;
    height: 50px;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
}

.output-container{
    width: min(100vw, 500px);
    height: 50px;
    margin: 15px 0;
    background-color: var(--dark-grey);
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px 0;
    border: 3px solid var(--white);
}

.hidden {
    display: none;
}

.error {
    background-color: var(--light-pink);
    color: var(--black);
    margin: 30px;
    padding: 60px 0;
    height: 50px;
    border: none;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
